/3-Operators/build/
/4-If_Else/nbproject/private/
/4-If_Else/build/
/5-Switch/nbproject/private/
/5-Switch/build/
/6-Array/nbproject/private/
/6-Array/build/
/7-Loop/nbproject/private/
/7-Loop/build/
/8-Functions/nbproject/private/
/8-Functions/build/
/9-Course Projects/1-Calculator/nbproject/private/
/9-Course Projects/1-Calculator/build/
/9-Course Projects/SumOfArray/nbproject/private/
/9-Course Projects/SumOfArray/build/
/9-Course Projects/2-SumOfArray/nbproject/private/
/9-Course Projects/2-SumOfArray/build/
/9-Course Projects/3-BOTA/nbproject/private/
/9-Course Projects/3-BOTA/build/
/9-Course Projects/4-guessNumber/nbproject/private/
/9-Course Projects/4-guessNumber/build/
